<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/sample-spring/src/main/java/com/cubic/spring/test/SpringTest3.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.cubic.spring.test.SpringTest3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="sample-spring"/>
</launchConfiguration>
